body {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Light Theme Variables */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark Theme Variables */
[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
}
